@import 'tailwindcss';
@config '../tailwind.config.js';

html {
  @apply text-base;
}

body.light {
  background-color: #f6f6f6;
  color: #0f0f11;
}

body.dark {
  background-color: #222222;
  color: #fff;
}

body.hc-light {
  background-color: #fff;
  color: #000;
}

body.hc-dark {
  background-color: #000;
  color: #fff;
}

/* Docs page story preview containers */
body.light .docs-story {
  background-color: #f6f6f6;
}

body.dark .docs-story {
  background-color: #222222;
}

body.hc-light .docs-story {
  background-color: #fff;
}

body.hc-dark .docs-story {
  background-color: #000;
}

/* Storybook's canvas background */
body.light .sb-show-main {
  background-color: #f6f6f6;
}

body.dark .sb-show-main {
  background-color: #222222;
}

body.hc-light .sb-show-main {
  background-color: #fff;
}

body.hc-dark .sb-show-main {
  background-color: #000;
}
